@{
    ViewBag.Title = "Home Page";
}

@if (TempData["SuccessMessage"] != null)
{
    <div id="success-message" class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Benvenuti nel gestionale prenotazioni</h1>
    </section>

    <div class="card-deck">
        <div class="row">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title" id="visualizzaPrenotazioniTitle">Prenotazioni</h5>
                    <p class="card-text">Visualizza tutte le prenotazioni presenti nel sistema.</p>
                    <p>In questa sezione potrai visualizzare i dettagli, modificare e cancellare le prenotazioni.</p>
                    <p>@Html.ActionLink("Prenotazioni", "Index", "Prenotazioni", null, new { @class = "btn btn-primary" })</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="prenotazioniTitle">Nuova Prenotazione</h5>
                    <p class="card-text">Aggiungi una nuova prenotazione al sistema.</p>
                    <p>@Html.ActionLink("Aggiungi Prenotazione", "AggiungiPrenotazione", "Prenotazioni", null, new { @class = "btn btn-primary" })</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="serviziTitle">Servizi</h5>
                    <p class="card-text">Gestisci i servizi disponibili per le prenotazioni.</p>
                    <p>@Html.ActionLink("Gestisci Servizi", "Index", "Servizi", null, new { @class = "btn btn-primary" })</p>
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jquery")

        <script type="text/javascript">
            $(document).ready(function () {
                setTimeout(function () {
                    $('#success-message').fadeOut('slow');
                }, 5000);
            });</script>
    }
</main>
