@model Hotel.Models.Prenotazione

@{
    ViewBag.Title = "Dettagli";
}

<h2>Details</h2>

<div>
    <h4>Prenotazione</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataPrenotazione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataPrenotazione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroProgressivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroProgressivo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoSoggiornoDal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PeriodoSoggiornoDal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoSoggiornoAl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PeriodoSoggiornoAl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Caparra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Caparra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tariffa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tariffa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dettagli)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dettagli)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodiceFiscaleCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodiceFiscaleCliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCamera)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroCamera)
        </dd>

        <h4>Servizi Prenotati</h4>
        <table>
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Descrizione</th>
                    <th>Quantità</th>
                    <th>Prezzo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var servizio in ViewBag.ServiziPrenotati)
                {
                    <tr>
                        <td>@servizio.Data.ToShortDateString()</td>
                        <td>@servizio.Servizio.Descrizione</td>
                        <td>@servizio.Quantita</td>
                        <td>@servizio.Prezzo</td>
                    </tr>
                }
            </tbody>
        </table>

        <h4>Totale</h4>

        @*calcolo totale*@
        <dt class="col-sm-2">
            Importo totale
        </dt>
        <dd class="col-sm-10">
            @ViewBag.ImportoTotale
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifica", "Edit", new { id = Model.ID }, new { @class = "btn btn-warning my-2" })
    @Html.ActionLink("Indietro", "Index", null, new { @class = "btn btn-light my-2" })
</p>
